# use vi mode and bindkey
bindkey -v
bindkey -M vicmd '^r' history-incremental-pattern-search-backward
bindkey -M vicmd '^s' history-incremental-pattern-search-forward
bindkey -M viins '^r' history-incremental-pattern-search-backward
bindkey -M viins '^s' history-incremental-pattern-search-forward
bindkey '^p' up-line-or-search
bindkey '^n' down-line-or-search

# Shift-Tab
bindkey '^[[Z' reverse-menu-complete
